header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 0.1px solid #e5e5e5;
}

header img {
  margin-left: 50px;
  margin-right: 20px;
}

h1 {
  font-size: 48px;
}

.tasks {
  display: flex;
}
